$color-white: #FFFFFF;

$color-theme-1: #ff5733;
$color-theme-2: #faefef;
$color-theme-3: #f3f2f2;
$color-theme-4: #FAFAFA;

$color-dark-0: #000000;
$color-dark-1: #000000;
$color-dark-2: #292929;
$color-dark-3: #636363;
$color-dark-4: #aeaeae;
$color-dark-5: #E1E1E1;

$color-yellow: #f9c936;
$color-green: #92b8b9;