<header>
    <div class="container">
        <div class="logo"><img src="images/placeholders/logo.svg" alt=""></div>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="home" asp-action="index">HOME</a>
            <a class="link" asp-controller="products" asp-action="index">PRODUCTS</a>
            <a class="link" asp-controller="contact" asp-action="index">CONTACT</a>
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="products" asp-action="search"><i class="fa-solid fa-magnifying-glass"></i></a>
            @if (signInManager.IsSignedIn(User))
            {
                
                <a asp-action="Logout" asp-controller="Account" class="m-4"> Logout</a>

                if(User.IsInRole("admin"))
                {
                    <a asp-action="Users" asp-controller="Admin" class="m-4"> Admin</a>
                }
            }
            else
            {
                <a class="link" asp-controller="account" asp-action="login">Login</a>
                <a class="link" asp-controller="account" asp-action="register">Register</a>
            }

            
            <a class="link" asp-controller="shopping" asp-action="index"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
</header>
<script>toggleMenyButton = ('[data-option="toggle]')</script>

