@using AspFinalProject.Models.ViewModels;
@model ProductViewModel

<a asp-controller="products" asp-action="details" asp-route-id="@Model.Id" class="product">
    <img src="images/placeholders/@Model.Image" alt="@Model.Name" />
    <h3>@Model.Name</h3>
    <span>@Model.Price</span>
</a>
