@using AspFinalProject.Models.Entities;
@model ProductEntity

<div class="product">
    <img src="images/placeholders/@Model.Image" alt="@Model.Name" />
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>
    <span>@Model.Price</span>
</div>