@{
    ViewData["Title"] = "Product Name";
}
<div class="container">
    <div class="product-details">
        <div class="image-wrapper">
            <img src="~/images/placeholders/@Model.Image" alt="@Model.Name" />
        </div>
        <div class="info-wrapper">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <span>@Model.Price.ToString()!.Remove(Model.Price.ToString()!.Length - 2) kr</span>
            <button class="add-button">Add To Basket</button>
        </div>
    </div>
</div>