textarea,
input,
input:not([type="checkbox"]) {
    border: 1px solid $color-dark-5;
    background-color: $color-theme-4;
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 15px;
    outline: 0;

    &:focus {
        border: 1px solid $color-dark-4;
    }
}

.invalid {
    border: 1px solid $color-theme-1 !important;
}

.form-group {
    width: 100%;

    label {
        display: block;
        margin-bottom: 5px;
    }

    span {
        display: inline-block;
        color: $color-theme-1;
        height: 20px;
        margin-top: 2px;
        font-size: 0.8em;
    }
}


