.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    padding-block: 40px;

    .product {
        box-sizing: border-box;
        text-align: center;
        text-decoration-line: none;
        color: $color-dark-1;


        img {
            width: 100%;
        }
    }

    .product-text {
        padding: 8px;

        h3 {
            font-size: 20px;
        }
    }
}



.product-details {
    margin-block: 40px;
    display: flex;
    max-width: 800px;
    margin-inline: auto;
    border: 1px solid black;
    box-shadow: 4px 4px 4px $color-dark-4;
    border-radius: 4px;
    padding: 0;
    flex-wrap: wrap;


    .image-wrapper {
        flex: 1 1 250px;
    }

    img {
        width: 100%;
    }

    .info-wrapper {
        padding: 20px;
        flex: 1 1 250px;
        background-color: $color-theme-3;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 1rem;
    }

    p {
        font-size: 16px;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .add-button {
        font-family: $font-poppins;
        //padding: 10px 10px;
        border: 1px solid $color-theme-1;
        background-color: $color-theme-1;
        color: $color-white;
        transition: all 0.25s ease-in-out;

        &:hover {
            border: 1px solid $color-dark-2;
            background-color: $color-dark-2;
            color: $color-white;
        }
    }
}
